<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta content="Writer | Producer | Technologist">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Dana Reilly - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src=
  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  </head>
