//Fonts

$sans-serif-black: 'Avenir-Black';
$sans-serif-book: 'Avenir-Book';
$sans-serif-light: 'Avenir-Light';
$sans-serif-medium: 'Avenir-Medium';


//Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;

//Font Sizes
$font-size-small: 0.5em;
$font-size-regular: 1em;
$font-size-large: 1.5em;
$font-size-x-large: 2em;
$font-size-xx-large: 2.5em;
$font-size-xxx-large: 3em;

//Colors
$cyan: #00FFFF;
$aquamarine: #7FFFD4;
$turquoise:#40E0D0;
$medturquoise:#48D1CC;
$darkturquoise:#00CED1;
$royalblue: #4169E1;
$slateblue: #6A5ACD;
$blue:#0000FF;
$mediumblue:#0000CD;
$indigo: #4B0032;
$navy:#000080;

//Breakpoints

$bp-sm-min: 768px;
$bp-xs-max: ($bp-sm-min - 1);
$bp-md-min: 992px;
$bp-sm-max: ($bp-md-min - 1);
$bp-lg-min: 1200px;
$bp-md-max: ($bp-lg-min - 1);






